.navbar{
    a{
        text-decoration:none;
        color:#F4FAFF;
    }
   padding:10px;
}
.cartItem{
    width:60%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin:auto;
    padding: 20px;
    img{
        width:50px;
    }
    .icon{
        cursor: pointer;
    }
}
.CartCheckout{
    width:70%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}

@media screen and (max-width:600px)
{
  .cartItem{
    display:flex;
    justify-content: space-between;
    .title{
        display:none;
    }
   
    
  }
  .LoadMoreBtn{
    width:30%
  }
  
}