$primary-color:#13293D;
$secondary-color:#EF8354;
$weight:700;
.navbar_Cart{
border:1px solid gray;
background-color: $primary-color;
display:flex;
justify-content: space-between;
padding:10px;
color: white;
font-weight:$weight;
align-items: center;
flex:1;
position: relative;
position: sticky;
top:0;  
    a{
        text-decoration:none;
        color:whitesmoke;
    }
   padding:20px;
}
.cartItem{
    width:60%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin:auto;
    padding: 20px;
    img{
        width:50px;
    }
    .icon{
        cursor: pointer;
    }
}
.CartCheckout{
    width:70%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}

@media screen and (max-width:600px)
{
  .cartItem{
    display:flex;
    justify-content: space-between;
    .title{
        display:none;
    }
   
    
  }
  .LoadMoreBtn{
    width:30%
  }
  
}