$primary-color:#13293D;
$secondary-color:#EF8354;
$weight:700;

.navbar{
border:1px solid gray;
background-color: $primary-color;
display:flex;
justify-content: space-between;
padding:10px;
color: $secondary-color;
font-weight:$weight;
align-items: center;
flex:1;
position: relative;
position: sticky;
top:0;  
a{
color:$secondary-color;
}
li{
    list-style:none;
}
img{
    width:50px;
}
p{
    color:$secondary-color;
}
span{
    position:absolute;
    top:0px;
    right:20px;
    color:white;
}
input{
border:1px solid;
border-radius:30px;
padding:5px;
position: relative;
}
.icon{
    position: absolute;
    right:450px;
}

}
